body{

    background-color: rgb(53, 85, 34);
    color: black;
    text-align: center;

}

img{
    border: 2px solid darkgray;
    width: 1900px;
    height: 700px;

}

span{ 
    color: rgb(0, 138, 0);
}
