body{

    background-color: rgb(53, 85, 34);
    color: rgb(252, 252, 252);
    text-align: center;
}


.intro{
    background-image: url(luar\ no\ sertão.jpg);
    height: 295px;
    background-size: 100% 100%;
    text-align: center;
    
}

.link{
    color: black;
    background-color:rgb(170, 228, 228);
    padding: 20px;
    font-size: 20px;

}

.manchete{
text-align: justify;

}
.centro{
    text-align: center;
}

@media screen and (min-width: 1024px) {   

}


@media screen and (min-width: 1728px) {   

}
